body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 20px;
    background-color:  #23272a;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #fff;
    margin: 0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.labeling__popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.labeling__popupInner {
  -webkit-box-shadow: 10px 10px 26px -2px rgba(0,0,0,.75);
  -moz-box-shadow: 10px 10px 26px -2px rgba(0,0,0,.75);
  box-shadow: 10px 10px 26px -2px rgba(0,0,0,.75);
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  height: 280px;
  width: 600px;
  padding: 20px;
  border-radius: 5px;
  color: #fff;
  background-color: #23272a;
}

.labeling__popupInner > h3 {
  margin-top: 10px;
}

.labeling__popupInner > ul > li > span {
  font-weight: bold;
}


.labeling__content {
    color: #fff;
    border-radius: 7px;
    background-color: #2c2f33;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
}

.labeling__transcript {
    width: 45%;
}

.labeling__label {
    width: 25%;
}

.labeling__menu {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.labeling__radio {
    padding-bottom: 5px;
}

.labeling__datatext {
    width: 100%;
    height: 380px;
    font-size: 1em;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fcfcfc;
    resize: none;
}

.labeling__labeltext {
    width: 100%;
    height: 40px;
    font-size: 1em;
    margin-bottom: 5px;
    padding: 0px;
    border: 0px;
    padding-left: 10px;
    line-height: 40px;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
}

.labeling__counter {
    font-size: 1em;
}

.labeling__buttonRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.labeling__button {
    -webkit-box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
    -moz-box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
    box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
    font-size: 1rem;
    font-weight: bold;
    width: 48%;
    height: 40px;
    border: 0px;
    border-radius: 4px;
    text-shadow: none;
    outline: none;
    color: #fff;
    background-color: #2185d0;
}

.labeling__button:hover {
    cursor: pointer;
    background-color: #1678c2;
}

.labeling__button--popup {
    width: 25%;
    min-width: 90px;
    margin-right: 15px;
}

.labeling__button--delete {
    background-color: #db2828;
}

.labeling__button--delete:hover {
    background-color: #d01919;
}

.labeling__button--save {
    background-color: #21ba45;
}

.labeling__button--save:hover {
    background-color: #16ab39;
}

.labeling__navigation > input[type="number"] {
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 1em;
    border: 0px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

.labeling__success {
    height: 1em;
    margin-top: 15px;
}

.labeling__loading, .labeling__error {
    text-align: center;
    color: #fff;
    font-size: 32px;
}

@media only screen and (max-width: 1200px) {
    .labeling__content {
        margin-left: 5%;
        margin-right: 5%;
    }
    .labeling__popupInner {
        width: unset;
        left: 10%;
        right: 10%;
        min-height: 310px;
        max-height: 390px;
    }
}

@media only screen and (max-width: 768px) {
    .labeling__content {
        margin: 0;
        flex-direction: column;
    }

    .labeling__transcript, .labeling__label, .labeling__menu {
        width: 100%;
    }

    .labeling__radio {
        float: left;
    }
}

@media only screen and (max-width: 767px) {
    .labeling__popupInner {
        left: 5%;
        right: 5%;
        height: 360px;
    }
}